.list-market-container {
  display: flex;
  overflow-x: auto;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: auto;
}

.container-product-list {
  background: #c4c4c4;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 250px;
  height: 300px;
}

/* ======== form styles labels ======== */
.type-radio-label {
  text-transform: uppercase;
}